.dropdown {
    width: 100%;
}

.dropdown-toggle {
    cursor: pointer;
    width: 100%;
    border-style: none;
    background-color: white;
    height: 4rem;
    color: gray;
    font-size: 17px;
    border-radius: 15px;
}

.dropdown-toggle:hover {
    background-color: #e0e0e0;
}

.dropdown-menu {
    width: 100%;
    list-style: none;
    color: black;
    background-color: white;
    text-align: center;
    height: auto;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
    font-size: 30px;
    
}

.dropdown.open .dropdown-toggle {
    border-radius: 15px 15px 0 0;
}

.dropdown.open .dropdown-menu {
    display: block;
}