.dropdown {
    width: 100%;
}

.dropdown-toggle {
    cursor: pointer;
    width: 100%;
    border-style: none;
    background-color: white;
    border-radius: 15px;
    height: 4rem;
    color: gray;
    font-size: 17px;
}

.dropdown-toggle:hover {
    background-color: #e0e0e0
}

.dropdown-menu {
    width: 100%;
    list-style: none;
    color: black;
    background-color: white;
    text-align: center;
    margin-top: -0.8rem;
    height: auto;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown-menu li {
    cursor: pointer;
    margin: 0.2rem;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
    font-size: 30px;
    
}