.foodPageMain {
  color: white;
  height: auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #2a2e37;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.foodPageContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 90%;
}

.foodPageContainer button {
  border-style: none;
  background-color: var(--custom-color);
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
}

.foodPageContainer button:hover {
  background-color: beige;
  color: black;
  cursor: pointer;
}
