.addMealContainer {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: black;
  background-color: #2a2e37;
  border-radius: 25px;
}

.addMealContainer h1 {
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.addMealContainer section {
  width: 70%;
  max-width: 600px;
}

.addMealContainer input {
  border-style: none;
  border-radius: 15px;
  height: 3rem;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

/*remove input arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*remove input arrows*/
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.publishMealButton {
  border-style: none;
  border-radius: 15px;
  height: 3rem;
  width: 50%;
  max-width: 250px;
  margin-top: 2rem;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.addContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.addContent button {
  width: 35%;
  border-style: none;
  border-radius: 15px;
  cursor: pointer;
}

.addContent select:hover, button:hover{
  background-color: lightgray;
}

.chooseUnit {
  width: 35%;
  border-style: none;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: gray;
  cursor: pointer;
}

.contentArray {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: auto;
  justify-content: center;
  padding: 1rem;
  color: gray;
  gap: 1rem;
}

.contentArrayDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: auto;
}

.removeContentButton {
  text-align: center;
  border-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 15px;
  cursor: pointer;
}



/* DROPDOWN */

.dropdown {
  width: 100%;
}

.dropdown-toggle {
  cursor: pointer;
  width: 100%;
  border-style: none;
  background-color: white;
  height: 4rem;
  color: gray;
  font-size: 17px;
  border-radius: 15px;
}

.dropdown-toggle:hover {
  background-color: #e0e0e0;
}

.dropdown-menu {
  width: 100%;
  list-style: none;
  color: black;
  background-color: white;
  text-align: center;
  height: auto;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dropdown-menu li {
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  font-size: 30px;
  
}

.dropdown.open .dropdown-toggle {
  border-radius: 15px 15px 0 0;
}

.dropdown.open .dropdown-menu {
  display: block;
}