.profilePage {
    display: flex;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}
/* ============================================ */
/* Upper section*/
.profileUpper {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}
.profilePicture {
    background-color: #2A2E37;
    border-radius: 15px;
    width: 70%;
    max-width: 300px;
}
.profileButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    padding: 10px 0px 10px 0px;
    width: 30%;
}
#profileButtonA, #profileButtonB {
    background-color: #2A2E37;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    max-width: 70px;
    max-height: 70px;
}
#profileButtonA:hover, #profileButtonB:hover {
    background-color: var(--custom-color);
}
#profileButtonImgA, #profileButtonImgB {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}
/* ============================================ */
/* User info */
.profileUserInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    background-color: #2A2E37;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 500px;
}
.profileUserInfoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ============================================ */