.background-layer {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.alert-container {
  position: fixed;
  padding: 20px;
  top: 3rem;
  right: -25rem;
  width: auto;
  height: 14%;
  background-color: rgba(158, 156, 156, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  animation: slide-in 0.5s forwards;
}
.alert {
 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.alert-p {
  font-weight: bold;
  margin-bottom: 7%;
  color: white;
}
.alert-button {
  display: inline-block;
  height: 2rem;
  min-width: 80%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
.alert-button:hover {
  box-shadow: 2px 2px 1px black;
}

@keyframes slide-in {
  from {
    right: -25rem; /*This is the start position of the alert message*/
  }
  to {
    right: 3rem; /* this is the end of the position*/
  }
}

@media only screen and (min-width: 391px) and (max-width: 1300px) {
  .alert-container {
    max-width: fit-content;
  }
  .alert-p {
    font-size: 12px;
  }
  .alert-button {
    margin-top: 0.5rem;
    height: 1.5rem;
    min-width: 90%;
  }
  @keyframes slide-in {
    from {
      right: -25rem;
    }
    to {
      right: 1rem;
    }
  }
}

@media only screen and (max-width: 390px) {
  .alert-container {
    top: 26rem;
    background-color: rgba(0, 0, 0, 0.463);
    min-width: 70%;
    max-width: 70%;
  }
  .alert-p {
    font-size: 11px;
  }
  .alert-button {
    width: 10rem;
  }

  @keyframes slide-in {
    from {
      right: -25rem;
    }
    to {
      right: 3.6rem;
    }
  }
}
