.background-layer {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.alert-container {
  position: fixed;
  flex-direction: column;
  padding: 20px;
  height: 16%;
  max-width: fit-content;
  right: -25rem;
  top: 3rem;
  border-radius: 20px;
  background-color: rgba(158, 156, 156, 0.5);
  animation: slide-in 0.5s forwards;
}
.alert {
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.alert-p {
  font-weight: bold;
  margin-bottom: 7%;
  color: white;
  font-size: 12px;
}
.alert-button {
  display: inline-block;
  /* height: 2rem; */
  /* min-width: 80%; */
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-top: 0.5rem;
  height: 1.5rem;
  min-width: 90%;
}
.alert-button:hover {
  box-shadow: 2px 2px 1px black;
}

@keyframes slide-in {
  from {
    right: -25rem; /*This is the start position of the alert message*/
  }
  to {
    right: 3rem; /* this is the end of the position*/
  }
}


@media screen and (max-width: 1099px) {
  .background-layer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alert-container {
    position: unset;
    top: 26rem;
    background-color: rgba(0, 0, 0, 0.463);
    max-width: 60%;
  }
  .alert-p {
    font-size: 11px;
  }
  .alert-button {
    width: 10rem;
  }

  @keyframes slide-in {
    from {
      right: -25rem;
    }
    to {
      right: 3rem;
    }
  }
}




